

*
{
    margin:0px;
    padding:0px;
}

#discuss_header
{
    width: 100%;
    height:55px;
    background-color:#555555;
    text-align: left;
    color: white;
}
#discuss_header h1
{
    padding: 4px;
}

#pane_container
{
    margin-top:40px;
    display: flex;
}

.BTN
{
    background-color:#4CAF50;
    color: white;
    cursor: pointer;
    padding:5px;
    border: none;
}


#left_pane
{
    padding: 20px;
    background-color: #e7e7e7;
    width:50%;
    height:550px;
    overflow-y: scroll;
    
}

.search_box
{
    padding:4px;
    outline: none;  
}


#right_pane
{
    width:50%;
    height:550px;
    padding:20px;
  overflow-y: scroll;
    
    
}

#respondQues
{
    display: none;
}

#resolveHolder
{
    display: none;
}


#respondAns
{
    display: none;
    
    
}


#pickName
{
    padding: 4px;
}


#pickComment
{
    width:40%;
    
}









